body {
  background: #558BD1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #062C5E, #558BD1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #062C5E, #558BD1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #062C5E, #558BD1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #062C5E, #558BD1); /* Standard syntax (must be last) */
}

a {
  color:white;
  font-family: "Verdana", Verdana, sans-serif;
  size:100%;

}

img {
  display:block;
  border: none;
  border-radius: 4px;
  padding: 5px;
  margin:auto;
  width:400px;
}

form {
  margin:auto;
  border-radius: 3px;

}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #00426B; /* FAU Blue */
    border: none;
    border-radius:4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    width:200px;
}

input[type=text], input[type=password] {
    border:thin;
    border-color:#B60215;
    border-radius:4px;
}
